/* ########### FONTS ############ */
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
/* ############ BODY ############  */
body {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* ########### HEADER ########### */
.logoheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.navbar {
  height: 120px;
  width: 70%;
  display: flex;
  justify-content: space-around !important;
  border-bottom: 1px black solid;
}
.navbar li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  list-style: none;
  text-decoration: none;
  color: black;
}
.navbar li a:hover {
  border-bottom: 1px #8E5197 solid;
}

#burgericon {
  height: 50px;
  width: 50px;
  display: none !important;
}

.burger {
  left: 0;
}

#contacternousheader {
  font-size: calc(0.4rem + 1vw);
  font-family: Arial, Helvetica, sans-serif;
}

#contacternousheader:hover {
  border-bottom: 1px black solid;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .logoheader {
    width: 100%;
  }
}
/* ### TABLET ### */
@media (max-width: 768px) {
  #burgericon {
    display: flex !important;
  }
  nav {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    width: 100%;
    height: 250px !important;
    text-align: center;
    transition: 0.25s;
  }
}
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ############ MAIN ############ */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION 1 ### */
.banniere {
  margin-top: 10px;
  width: 100%;
  height: 650px;
  background: red;
  background-image: url(../assets/image/imageedit_1_2461160985.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
.banniere h1 {
  width: 75%;
  text-align: center;
}

.bannierecowork {
  margin-top: 10px;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/image/banieresombre.png);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.baniereformation {
  width: 100%;
  height: 600px;
  background-image: url(../assets/image/baniereformation.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
.formation {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formation .titresec3 {
  font-size: xx-large;
  width: 400px;
  height: 50px;
}
.formation p {
  width: 80%;
  font-size: x-large;
  text-align: center;
}
.formation div {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.formation div .divformations {
  width: 25%;
  height: 85%;
  border-radius: 300px;
}
.formation div .divformations h1 {
  color: #a270aa;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
.formation div .fomationimg1 {
  background-image: url(../assets/image/imageedit_1_6748868503.png);
  background-size: 100% 100%;
}
.formation div .fomationimg2 {
  background-image: url(../assets/image/imageedit_1_2196269631.jpg);
  background-size: 140% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.formation div .fomationimg3 {
  background-image: url(../assets/image/imageedit_2_4923147579.jpg);
  background-size: 110% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.divformations:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: 0, 5s;
}

.divformations:hover h1 {
  color: black !important;
  transition: 0, 5s;
}

.espacelibre {
  width: 100%;
  height: 800px;
}
.espacelibre .espacetravail {
  height: 600px;
  background: red;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 15px 5px #000000;
  box-shadow: 0px 0px 15px 5px #000000;
}
.espacelibre .espacetravail:hover {
  padding-bottom: 50px;
  transition: 1s ease;
}
.espacelibre .espaceL {
  background: #8E5197;
  background-image: url(../assets/image/cowork.png);
  background-position: center;
  background-size: 80% 110%;
  background-repeat: no-repeat;
  color: white;
}
.espacelibre .espaceR {
  background: #8E5197;
  background-image: url(../assets/image/helpcowork.png);
  color: white;
}

.licowork {
  list-style-type: circle !important;
  margin-right: 275px;
  font-size: large;
}

.lesformations {
  width: 100%;
  height: 1000px;
}
.lesformations div {
  gap: 50px;
}
.lesformations div button {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 25px;
  background: black;
  color: white;
}
.lesformations div button:hover {
  border: white 1px solid;
}
.lesformations div #formlongues {
  background: #8E5197;
}
.lesformations .fromcourtes {
  background: black;
  width: 80%;
  height: 850px;
  border-radius: 25px;
}
.lesformations .formlongues {
  background: #8E5197;
  width: 80%;
  height: 850px;
  border-radius: 25px;
  display: none;
}

.lesli {
  height: 60px;
}

.cardformlongue {
  height: 30px !important;
}

.evenementimp {
  width: 100%;
  height: 800px;
  background-image: url(../assets/image/seanceinfo.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.evenementimp .containerevent {
  height: 400px;
  width: 90%;
}
.evenementimp .containerevent .eventavenir {
  width: 30%;
  height: 350px;
  background: #8E5197;
  transition: 0.5s ease;
  border-radius: 15px;
  color: white;
}
.evenementimp .containerevent .eventavenir:hover {
  padding-bottom: 50px;
  background: #ae64ba;
}
.evenementimp .btnrejoint {
  background: #8E5197;
  border-radius: 15px;
  color: white;
  font-size: smaller !important;
  margin: 0 !important;
}
.evenementimp .btnrejoint h3 {
  text-align: center;
  height: 70px;
  width: 200px;
  margin: 0 !important;
}
.evenementimp .btnrejoint:hover {
  background: #ae64ba;
}

.horaires {
  width: 100%;
  height: 400px;
  background-image: url(../assets/image/horaires.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: 100%;
  background-attachment: fixed;
}

.videofirst {
  width: 100%;
  height: 600px;
}

.partenaires {
  width: 100%;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.partenaires #slider {
  width: 30%;
  height: 45%;
}
.partenaires #slider img {
  transition: 4s;
}

.testimonial {
  width: 100%;
  height: 750px;
  background: #8E5197;
}

.contact {
  width: 100%;
  height: 800px;
  background: #8E5197;
}
.contact .map {
  height: 800px;
  overflow: hidden;
}

.faq {
  width: 100%;
  height: 700px;
}
.faq .containerfaq {
  width: 90%;
  background: #8E5197;
  height: 480px;
  border-radius: 25px;
}

.faqli {
  height: 40px;
}

.newsletter {
  width: 100%;
  height: 300px;
  gap: 10px;
  background: url(../assets/image/news.jpg);
  background-size: cover;
  background-position: 50% 35%;
}
.newsletter .txtnewsletter {
  color: #8E5197;
}
.newsletter .divinput {
  height: 150px;
  width: 700px;
  gap: 5px;
  border-radius: 50px;
}
.newsletter .divinput input {
  width: 400px;
  height: 45px;
  border-radius: 15px;
  border: 1px black solid;
}
.newsletter .divinput input::placeholder {
  color: #8E5197;
}
.newsletter .divinput button {
  width: 85px;
  height: 43px;
  list-style-type: none;
  border: none;
  border-radius: 15px;
  border: none;
  background: #8E5197;
  color: white;
  margin-right: 200px;
}

/* ########### FOOTER ########### */
footer {
  width: 100%;
  height: 550px;
}
footer .topfooter {
  width: 100%;
  height: 200px;
}
footer .topfooter .resausociaux {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .botfooter {
  width: 100%;
  height: 300px;
}

.sociallink {
  list-style-type: none;
  text-decoration: none;
  color: #8E5197;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */

/*# sourceMappingURL=style.css.map */
